* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "News Cycle", "Open Sans", sans-serif;
}

:root {
  --verde-primario: #106460;
  --verde-secundario: #1a918b;
  --gris-letras: #afafaf;
  --gris-fondo: #d4d4d4;
  --blanco-letras: #ffffff;
  --naranja: #ff9d34;
}

body {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button:hover {
  cursor: pointer;
}

.w-960 {
  width: 960px;
}

.centrado {
  margin-left: auto;
  margin-right: auto;
}

.ta-center {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.d-line-block {
  display: inline-block;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-18 {
  font-size: 18px;
}

.font-s-28 {
  font-size: 28px;
}

.marg-r-10 {
  margin-right: 10px;
}

.marg-b-20 {
  margin-bottom: 20px;
}

.marg-b-40 {
  margin-bottom: 40px;
}

.marg-top-40 {
  margin-top: 40px;
}

.mayu-1 {
  text-transform: capitalize;
}

.mayu {
  text-transform: uppercase;
}

/* ------------------------HEADER---------------------------- */

.header {
  padding: 12px 18px;
  background-color: var(--verde-primario);
  color: white;
}

.header ul li {
  margin-left: 12px;
}

.header ul li a {
  padding: 8px 12px;
  color: white;
}

.header ul li a:hover {
  opacity: 0.8;
}

/* -------------------MAIN ----------------- */

main {
  padding: 40px 10px;
}

main h1 {
  color: var(--verde-secundario);
}

/* ------------------------FOOTER---------------------------- */

footer {
  padding: 12px 18px;
  background-color: var(--verde-primario);
  color: white;
}

/* ------------------------TABLAS---------------------------- */

.contenedor-tabla {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-tabla td button {
  background-color: transparent;
  border: none;
}

.contenedor-tabla button:hover {
  opacity: 0.8;
}

.contenedor-tabla button i {
  color: var(--verde-secundario);
  font-size: 20px;
}

.contenedor-tabla .controles {
  margin-top: 30px;
}

.contenedor-tabla .controles button {
  padding: 8px 12px;
  border: 2px solid var(--verde-primario);
  border-radius: 5px;
  color: var(--verde-primario);
  font-weight: bold;
}

table {
  background-color: var(--gris-fondo);
  color: var(--verde-secundario);
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
}

th {
  border-bottom: 3px solid var(--verde-primario);
}

th,
td {
  border: 2px solid white;
  vertical-align: top;
  text-align: center;
  padding: 10px 15px;
}

/* -------------------FORMULARIO ----------------- */

.formulario_estandar {
  background-color: white;
  border: 0.5px solid rgb(192, 192, 192);
  border-radius: 5px;
  overflow: hidden;
  max-width: 600px;
}
.formulario_estandar .cabecera {
  padding: 12px 20px;
  background-color: #007bff;
}

.formulario_estandar .cabecera h2 {
  font-size: 18px;
  color: white;
}

.formulario_estandar .form_body {
  width: 100%;
  padding: 20px;
}

.formulario_estandar .form_group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.formulario_estandar .form_group label {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 8px;
}

.formulario_estandar .form_group input[type="text"],
.formulario_estandar .form_group select,
.formulario_estandar .form_group input[type="time"] {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
}

.formulario_estandar .form_group input[type="text"]:focus,
.formulario_estandar .form_group select:focus,
.formulario_estandar .form_group input[type="time"]:focus {
  outline: none;
  border: 1px solid #007bff;
}

.formulario_estandar .form_group__files input {
  display: none;
}

.formulario_estandar .form_group__files label {
  padding: 6px 12px;
  border: 1px solid var(--gris-letras);
}

.formulario_estandar .form_group__files label:hover {
  cursor: pointer;
}

.formulario_estandar .controls {
  padding: 20px;
  text-align: end;
}

.formulario_estandar .controls button {
  font-size: 16px;
  color: white;
  border: none;
  padding: 6px 12px;
  background-color: #007bff;
  border-radius: 5px;
  margin-right: 10px;
}

.formulario_estandar .controls button[id="cancelar"] {
  background-color: #dc3545;
}

.formulario_estandar .controls button:hover {
  opacity: 0.85;
}
